
.pokemon-detail {
    max-width: 500px;
    margin: 0 auto;
    margin-top: 20px;
   margin-bottom: 10px;
    background-color: #ffffff;
    padding: 5px;
    text-align: center;
    border-radius: 12px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  }
  
  .pokemon-detail h2 {
    text-align: center;
    text-transform: capitalize;
    font-size: 20px;
    margin-bottom: 4px;
    background-color: rgb(207, 172, 172);
  }
  
  .pokemon-detail img {
    display: block;
    margin: 0 auto 10px;
    width: 100px;
    height: 100px;
  }
  
  .pokemon-detail button {
    display: block;
    margin: 0 auto 20px;
    padding: 8px 10px;
    background-color: #ffcb05;
    color: #3b4cca;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.2s ease;
  }
  
  .pokemon-detail button:hover {
    background-color: #f4b700;
  }
  
  .pokemon-detail h3 {
    margin-top: 10px;
    color: #333;
  }
  
  .pokemon-detail ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
    margin: 4px 0;
  }
  
  .pokemon-detail ul li {
    padding: 4px 0;
    border-bottom: 1px solid #eee;
    text-transform: capitalize;
  }
  